@model Ninja;

<form action="/ninjas" method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="Name" class="form-control" value="@Model.Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="number" name="Age" class="form-control" value="@Model.Age"/>
        <span asp-validation-for="Age"></span>
    </div>
    <div class="form-group">
        <label>Village</label>
        <input type="text" name="Village" class="form-control" value="@Model.Village" />
        <span asp-validation-for="Village"></span>
    </div>
    <input type="submit" value="Create Ninja" class="btn btn-danger" />
</form>