@{
    ViewData["Title"] = "Ninja Info Cards";
}

<div class="jumbotron">
    <h1>Ninja Info Cards</h1>
</div>

<div class="row">
    <div class="col-sm-4">
        <partial name="_NewNinja" />
    </div>
    <div class="col-sm-8">
        <partial name="_NinjaInfo" />
    </div>
</div>
